.control-wrapper{
    display: flex;
    margin: 0;
    width: 50%;
    justify-content: space-around;

    .random-btn{ 
        margin-right: 16px;
    }

    .repeat-btn{ 
        margin-left: 16px;
    }

    
}
.repeat-active{
    color:  green !important;
}