.sidebar-container {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 30px;
}
.btn-body {
    width: 80px;
    height: 80px;
    color: #f8c9d0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.3s ease;

    &:hover {
        color: #fff;
    }
}

.btn-body-active {
    background-color: #f4bb92;
    color: #fff;
    transform: scale(1.05);
}