

.name-total-wrap{
    margin-bottom: 25px;
    padding-left: 10px;
}

.playlist-name{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    font-family: "Merienda", cursive;
}

.playList-total{
    margin: 0;
    font-size: 0.8rem;
    color: #9aa9c2;
}

// .queue-list{
//     // height: 80%;
//     width: 70%;
//     padding-right: 20px;
//     overflow-y: auto ;
//     overflow-x: hidden;
//     align-self: flex-start;
    
// }

.queue-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;

    .name-artist-wrap{
        overflow: hidden;
    }

    p{
        margin: 0;
        padding: 0 7px;
        text-wrap: nowrap;
    }

    .track-name{
        font-size: 1rem;
        width: 100%;
        overflow: hidden;
    }

    .track-artist{
        font-size: 0.8rem;
        color: #9aa9c2;
    }

    .track-numbering{
        margin-right:  16px;
    }

    .track-img{
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    &:hover{
        // transform: scale(0.99);
        background-color: #28354c3d;
        // margin-bottom: 5px;
        border-radius: 5px;
    }
}

.track-name{
    width: 75%;
    text-overflow: ellipsis;
}

.track-detail{
    display: flex;
    max-width: 90%;

    span{
        display: inline-block;
        width: 20px;
        margin: auto;
    }
}

.active-track{
    background-color: #28354c3d;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #ff9800 !important;
}


