.library-body {
    width: 94%;
    height: 94%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.playListCard {
   position: relative;
    width: 15%;
    height: 35%;
    border-radius: 20px;
    background-color: #1e2a3e;
    border: 1px solid rgba(54, 69, 98, 0.18);
    padding: 14px;
    margin-bottom: 2%;
    background: rgb(30, 42, 62);
    background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100%);
    transition: all 0.2s ease;

    .playListName{
        font-weight: 600;
        color: white ;
    }
    
    .playListSong {
        color: #c4d0e37c;
        font-size: 0.9rem;
    }

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    &:hover .playlist-fade {
        opacity: 1;
    }
}


.playListImage { 
    width: 100%;
    border-radius: 12px;
}

.playlist-fade{
    position: absolute;
    opacity: 0;
    right: 0;
    bottom: 0;
    width: 84%;
    height: 24%;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(54,69,98,0) 10%, rgba(54,69,98,1) 100%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;
    transition: all 0.5s ease;
}



