

.playListCard {
   position: relative;
    width: 100%;
    
    border-radius: 20px;
    background-color: #1e2a3e;
    border: 1px solid #3645622e;
    padding: 14px;
    margin-bottom: 2%;
    background: #1e2a3e;
    background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100%);
    transition: all 0.2s ease;

}


.playListCard:hover {
    transform: scale(1.02);
    cursor: pointer;
}







