circle{
    transition: all 0.5s ease-in-out;
    transform: rotate(93deg);
    transform-origin: 50% 50%;
}

.active{
    animation: rotation 30s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.progress-circle{
    justify-content: center;
    align-items: center;
}

