.albumInfor-container{
    margin-top: 20px;
    width: 80%;

    p{
        margin: 0 ;
    }

    .albumName{
        font-size: 20px;
        font-weight: 700;
        color: #c3d0e3;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;

        .slide-text{
            white-space: nowrap;
            display: inline-block;
            animation: slide 10s linear infinite;
            padding-left: 100%;
            
        }
    }

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

    .albumRelease{
        font-size: 12px;
        font-weight: 500;
        color: #c3d0e3;

    }
}


